@import 'styles/variaveis';
@import "styles/breakpoints";

.header {
    align-items: center;
    background-image: url("/assets/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 59px;
    padding: 0px;
    justify-content: center;
    @media (min-width: $mobile) {
      height: 133px;
      width: 100%;
    }
    @media (min-width: $desktop_md) {
      height: 215px;
      width: 100%;
    }
    &__text {
        align-items: center;
        text-align: center;
        color: $dark-grey;
        font-size: 2rem;
        width: 40%;
        @media (min-width: $mobile) {
          font-size: 4rem;
        }
        @media (min-width: $desktop_md) {
          font-size: 6rem;
        }
      }
}
.informacoes{
    color: $dark;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 97px;
    margin: 3em;
input{
    width: 135px;
    font-weight: bold;
}
}